
body {
	background-image: url(../Images/Website/background.jpg);
    background-repeat: no-repeat;
    /* background-position: center center; */
    text-align: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#WELCOME{
	font-size: 100px;
	font-family: 'Tiro Devanagari Hindi', serif;
	/* font-family: 'Cormorant Infant', serif; */
	font-weight: bold;
	/* font-family: 'Cormorant Infant', serif; */
	margin-top: 3%;
	/* padding: 2%; */
	opacity: 75%;
	text-shadow: 2px 2px black;
	}

#description{
	font-size: 50px;
	font-family: 'Cormorant Infant', serif;
	text-shadow: 2px 2px black;	
}
 
#are{
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	opacity: 100%;
	padding-top: 2%;	
	font-size:85px;
	text-shadow: 2px 2px black;
}

#linebreak{
	display:block;
	margin-bottom: 0.5em;
}

#Farmerbutton{
	align-items: center;
	background-color:transparent;
	font-size: 90px;
	padding: 0.9rem;
	padding-bottom: 0.5rem;
	border-style:solid;
	border-width: 5px;
	border-radius: 20%;
	border-color:black;
}

#Buyerbutton{
	align-items: center;
	background-color:transparent;
	font-size: 90px;
	padding: 0.9rem;
	padding-bottom: 0.5rem;
	margin-left: 10%;
	border-style:solid;
	border-width: 5px;
	border-radius: 20%;
	border-color:black;
}

#link {
	color:black;
	text-decoration: none;
}

#link:hover{
	color: rgb(250, 250, 250);
	border-radius: 20%;
	border-style: outset;
	border-color: rgb(239, 240, 239);
    font-weight: bolder;
	border-width: 4px;
}